 	 
@import "layout.css";
body {
    background-attachment: scroll;
    background-color: #F2F2F7;
    background-image: url("../images/background.gif");
    background-repeat: repeat;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
}
#container {
    margin: 10px auto;
    width: 900px;
}
#masthead {
    background-color: #FAFAFF;
    border-color: #DCDCDC #A9A9A9 #808080;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    text-align: center;
    width: 895px;
}
#navigation {
    background-color: #FFFFFF;
    border-color: #DCDCDC #A9A9A9 #808080;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    vertical-align: top;
    width: 20%;
}
#content {
    background-color: #FFFFFF;
    border-color: #DCDCDC #A9A9A9 #808080;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    padding: 10px;
    width: 60%;
}
#innerContainer {
    border-collapse: separate;
    border-spacing: 8px;
    width: 905px;
}
#footer {
    background-color: #FEFEFF;
    border-color: #DCDCDC #A9A9A9 #808080;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 895px;
}
#masthead h1 {
    color: #3D6C87;
}
#masthead h3 {
    color: #5F8EA9;
}
#navigation ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navigation li {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    margin: 0;
    padding: 0;
}
#navigation a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #3D6C87;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#navigation a:hover {
    background-color: #5F8EA9;
    border: 1px solid #5F8EA9;
    color: #FFFFFF;
    text-decoration: none;
}
#content h1, h2, h3, h4, h5, h6 {
    color: #3D6C87;
}
#content img {
    border: 1px solid #808080;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#footer p {
    color: #808080;
    margin-top: 5px;
}
#footer a {
    color: #5F8EA9;
    text-decoration: underline;
}
#footer a:hover {
    color: #33627D;
    text-decoration: none;
}
a {
    color: #5F8EA9;
    text-decoration: underline;
}
a:hover {
    color: #33627D;
    text-decoration: underline;
}
.style_bold {
    font-weight: bold;
}
.style_italic {
    font-style: italic;
}
#registration {
    background-color: #FAFAFF;
    border-color: #DCDCDC #A9A9A9 #808080;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 20%;
    vertical-align:top;
}
#registration a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #3D6C87;
    display: block;
    padding: 5px;
    text-decoration: none;
}

#registration #LoginName {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.Link {background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #3D6C87;
    display: block;
    padding: 5px;
    text-decoration: none;

}

