img.thumbnail
{
    width:60px;
    height:60px;
}

#editPhotoContainer .tags
{
	vertical-align:top;
}

#editPhotoContainer .submit
{
	vertical-align:bottom;
}

#editPhotoContainer .left
{
	float:left;
	width:60%;
}

#editPhotoContainer .right
{
	float:left;
	width: 30%;
}

#editPhotoContainer .bottom
{
	text-align:right;
	width:100%;
	float: left;
}

#editPhotoContainer .fileSelector
{
	width: 200px;
}

div.float-left
{
	float:left;
}

div.float-right
{
	float:right;
}

div.AlbumListItem
{
	font-family:Calibri; 
	float: left; 
	width:400%; 
	font-size:medium; 
}

div.AlbumListItemDescription
{
	font-family:Arial; 
	font-style:oblique; 
	font-size:8pt; 
	color:RGB(153, 156, 181);
	padding-bottom:3px;
}
div.AlbumListItemCreationDate
{
	font-family:Arial; 
	font-style:oblique; 
	font-size:8pt; 
	color:RGB(80, 39, 97);
	padding-bottom:3px;
}
div.AlbumListItemContainer
{
	padding-bottom:10px;
	
	