img.thumbnail
{
    width:60px;
    height:60px;
}

#editPhotoContainer .tags
{
	vertical-align:top;
}

#editPhotoContainer .submit
{
	vertical-align:bottom;
}

#editPhotoContainer .left
{
	float:left;
	width:70%;
}

#editPhotoContainer .right
{
	float:left;
	width: 25%;
}

#editPhotoContainer .bottom
{
	text-align:right;
	width:100%;
	float: left;
}

#editPhotoContainer .fileSelector
{
	width: 200px;
}

div.float-left
{
	float:left;
}

div.float-right
{
	float:right;
}

div.photoDescription-photo
{
	width: 45%;
	float:left;
}

div.photoDescription-items
{
	width: 45%;
	float:left;
}

div.photoDescription-items :nth-child(odd)
{
	width: 40%;
	float:left;
	padding-bottom:5px;
}
	
div.photoDescription-items :nth-child(even)
{
	width: 40%;
	float:left;
	padding-bottom:5px;
}

div.photoDescription
{
	overflow: auto;
}
div.AlbumListItem
{
	font-family:Calibri; 
	float: left; 
	width:400%; 
	font-size:medium; 
}

div.AlbumListItemDescription
{
	font-family:Arial; 
	font-style:oblique; 
	font-size:8pt; 
	color:RGB(153, 156, 181);
	padding-bottom:3px;
}
div.AlbumListItemCreationDate
{
	font-family:Arial; 
	font-style:oblique; 
	font-size:8pt; 
	color:RGB(80, 39, 97);
	padding-bottom:3px;
}
div.AlbumListItemContainer
{
	padding-bottom:10px;
	
}

#photos div.item
{
	float: left;
	width: 30%;
	text-align: center;
	margin-left: 5px;
}

#photos :nth-child(3n+1)
{
	clear:both;
}

#photos div.item div.toolbar
{
	position: relative; 
	top: 70px;
	left: 108px;
	text-align:left;
}

#photos div.item div.toolbar img
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
