<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="photogalleryEntities" connectionString="metadata=res://*/EFDataProvider.EntityDataModel.csdl|res://*/EFDataProvider.EntityDataModel.ssdl|res://*/EFDataProvider.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PRIZRAK\SQLEXPRESS;Initial Catalog=photogallery;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>